* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden !important;
  background-image: url("./assets/background.png");
  height: 100%;
}

.container {
  max-width: 85%;
  margin: 0px auto 0 auto;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 550px) {
  body {
    overflow-x: hidden !important;
  }
  .container {
    max-width: 75%;
    margin: 0 auto;
  }
}
