@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Zilla+Slab:ital,wght@1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 2px solid red; */
}

body {
  overflow-x: hidden !important;
  background-image: url("./assets/background.png");
  height: 100%;
}

h1,
h2,
h3 {
  font-family: "Lobster", cursive;
}

p,
a,
li {
  font-family: "Zilla Slab", serif;
  font-weight: 500;
}
.container {
  max-width: 85%;
  margin: 0px auto 0 auto;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 20px 10px 120px 10px;
}

@media (max-width: 550px) {
  body {
    overflow-x: hidden !important;
  }
  .container {
    max-width: 75%;
    margin: 0 auto;
  }
}

@media (max-width: 815px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 550px) {
  .grid {
    display: block;
    margin: 10px 0 140px 0;
  }
}
