* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./assets/background.png");
  height: 100%;
  overflow-x: hidden;
}

.container {
  width: 85%;
  margin: 0 auto;
}

@media (max-width: 550px) {
  .container {
    width: 75%;
    margin: 0 auto;
  }
}
