.box {
  height: 300px;
  margin: 20px 10px;
  padding: 10px 5px;
  flex-direction: column;
  font-size: 1.2rem;
  position: relative;
  transition: all 0.4s;
  border-radius: 36px;
  background: linear-gradient(145deg, #ffffff, #e1e1e1);
  box-shadow: 18px 18px 35px #8a8a8a, -18px -18px 35px #ffffff;
}

.box::before {
  content: "";
  position: absolute;
  top: 50px;
  left: 20px;
  width: 5px;
  height: 150px;
  border-radius: 50px;
  transition: all 0.6s;
  background: linear-gradient(147deg, #339, #f0c);
}

.box:hover::before {
  transform: rotate(180deg);
}

.box h3 {
  border-bottom: 2px solid #ccc;
  margin: 25px 35px 0 35px;
  z-index: 1000;
}

.para {
  overflow-y: auto;
  height: 200px;
  margin: 10px 35px;
  z-index: 1000;
}

@media (max-width: 1025px) {
}
@media (max-width: 420px) {
}
