.listForm {
  position: relative;
  max-width: 400px;
  margin: 20px auto;
  padding: 10px;
  border-radius: 45px;
  background: linear-gradient(145deg, #e1e1e1, #ffffff);
  box-shadow: 15px 15px 45px #d7d7d7, -15px -15px 45px #ffffff;
}

.listForm input {
  width: 100%;
  border: none;
  padding: 5px;
  background: transparent;
  outline: none;
  font-size: 1.2rem;
  font-family: "Zilla Slab", serif;
  font-weight: 600;
}

.listForm button {
  position: absolute;
  bottom: -20px;
  right: 25px;
  padding: 5px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  border: none;
  cursor: pointer;
  color: #fff;
  background: linear-gradient(#339, #f0c);
}
