.chckItem {
  margin: 12px 0 0 0;
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 15px;
  background: #fafafa;
  box-shadow: inset 20px 20px 60px #d5d5d5, inset -20px -20px 60px #ffffff;
}

.chckItem input {
  margin-right: 10px;
}
