.add {
  width: 250px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 45px;
  background: linear-gradient(145deg, #ffffff, #e1e1e1);
  box-shadow: 13px 13px 30px #646464, -13px -13px 30px #ffffff;
  margin: 1.5rem auto;
  padding: 10px;
}

.addBtn {
  position: absolute;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  top: 52px;
  left: 750px;
  border: none;
  border-radius: 50%;
  background: linear-gradient(145deg, #ffffff, #e1e1e1);
  box-shadow: 45px 45px 90px #bcbcbc, -30px -30px 75px #ffffff;
}

/* #ffffff, #e1e1e1 */

@media (max-width: 1025px) {
  .addBtn {
    top: 65px;
    left: 560px;
  }
}
@media (max-width: 815px) {
  .addBtn {
    top: 65px;
    left: 450px;
  }
}
@media (max-width: 550px) {
  .addBtn {
    top: 65px;
    left: 340px;
  }
}
@media (max-width: 415px) {
  .addBtn {
    top: 65px;
    left: 250px;
  }
}
