.emptyImg {
  max-width: 380px;
  margin-bottom: 150px;
}

.emptyImg img {
  width: 100%;
}

@media (max-width: 1025px) {
}

@media (max-width: 815px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 550px) {
  .grid {
    display: block;
    margin: 10px 0 140px 0;
  }
}

@media (max-width: 420px) {
  /* .noteGrid {
    display: block;
    margin: 10px 0 105px 0;
  } */
}
